<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - FDLC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/E-Register/main.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!-- Start Contact Row  -->
    <header class="contact_row wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 contact_info wow fadeInRight">
                    <a href="mailto:fldc_zu@zu.edu.eg" target="_blank">
                        <i class="far fa-envelope"></i>
                        <span>fldc_zu@zu.edu.eg</span>
                    </a>
                    <a href="#">
                        <i class="fas fa-phone"></i>
                        <span>01092765212</span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12  Social wow fadeInLeft">
                    <a href="https://www.facebook.com/FLDC-Zagazig-University-508205206337069/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkin.com" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-at"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- End Contact  Row-->
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg   heder-nav wow fadeIn">
        <div class="container">
            <!-- Center Logo -->
            <div class="navbar-brand  float-right  wow fadeInRight">                                    
                <img src="~/E-Register/img/bitmap1.png" alt="Logo image" />
            </div>  
            <!--the center text in navbar-->
            <div class="text-center logo  wow fadeInDown">
                <p class="animated jello">مركز تنمية قدرات أعضاء هيئة التدريس والقيادات </pclass="animated>
            </div>          
            <!--University logo-->
            <div class="navbar-brand float-left wow fadeInLeft">
                <img src="~/E-Register/img/zu-.png" alt="Logo image" />
            </div>            
        </div>
        
        <div class="menu-bar" onclick="Show()">
            <a href="#"> <i class="fas fa-bars" id="1"></i></a>
        </div>
    </nav>
    <!-- nav items -->
    <nav class="navbar navbar-expand-lg wow fadeIn">
        <div class="container">
            <div class="navbare-content text-center ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto  wow zoomIn">
                        <li class="nav-item active">
                            <div class="menu-bar   " onclick="Close()">
                                <a href="#"> <i class="fas fa-times" id="1"></i></a>
                            </div>
                        </li>
                        <!--home page-->
                        <li class="nav-item active">
                            @Html.ActionLink("الرئيسية", "Index", "Home", null, new { @class = "nav-link" })
                            @*<a class="nav-link" href="Index">الرئسية<span class="sr-only">(current)</span></a>*@
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="dropdown-menu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                عن المركز
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("الرؤية/الرسالة/الأهداف", "Index", "Vission", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("الانجازات", "Index", "CenterAchievement", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("مديرون سابقون", "Index", "PreviousPresident", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("كلمة الرئيس", "Index", "PresidentWord", null, new { @class = "dropdown-item" })

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="dropdown-menu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                الهيكل الأداري
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!--course list goes here-->
                                @Html.ActionLink("مجلس الإدارة", "Index", "CenterStaff", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("المدربون", "Index", "Trainer", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("المشرفون", "Index", "SuperVisor", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="dropdown-menu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                البرامج التدريبية
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!--course list goes here-->
                                @Html.ActionLink("البرامج التدريبية ", "Index", "Course", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("متابعة الطلب", "FollowApplication", "Course", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("مصفوفة البرامج", "ProgramMatrix", "Course", null, new { @class = "dropdown-item" })
                                @*@Html.ActionLink("تأجيل أو إلغاء الدورة", "FollowApplication", "Course", null, new { @class = "dropdown-item" })*@
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="dropdown-menu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                المركز
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!--course list goes here-->
                                @Html.ActionLink("قرارات جامعية", "Index", "UniversityDecision", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("قواعد المركز", "Index", "CenterRule", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("لوائح المركز", "Index", "CenterRegulation", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("أنشطة المركز", "Index", "CenterActivitie", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("الاسئلة الشائعة", "Index", "FAQ", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("اتصل بنا", "Index", "ContactUs", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar  -->
    <!--the rest of pages view goes here-->
    <div class="container">
        @RenderBody()
    </div>
    <!-- start Footer -->
    <footer class="wow fadeInUp">
        <p>جميع الحقوق محفوظة لفريق كلية الحاسبات والمعلومات جامعة الزقازيق  @DateTime.Now.Year&copy;</p>
    </footer>
    <!-- end Footer -->
    <!-- Import Js file -->
    <script src="~/E-Register/js/all.js"></script>
    <script src="~/E-Register/js/bootstrap.min.js"></script>
    <script src="~/E-Register/js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-2.2.1.min.js"></script>
    <script src="~/E-Register/js/jquery-3.4.1.min.js"></script>
    <script src="~/E-Register/js/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="~/E-Register/js/wow.min.js"></script>
    <script src="~/E-Register/js/main.js"></script>
    <!-- ------------ -->
</body>

</html>
