@model Graduation_Project.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="text-right">
    <br />
    <h2>التفاصيل</h2>
    <hr />

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NewsContent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NewsContent)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Link)
            </dt>

            <dd>                
                <a href="@Model.Link" target="_blank">@Model.Link</a>
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("تعديل", "Edit", new { id = Model.NewsId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("الرجوع الى القائمة", "Index", null, new { @class = "btn btn-outline-info" })
    </p>
    <br />
</div>