@model Graduation_Project.Models.PresidentWord

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="text-right">
    <br />
    <h2>التفاصيل</h2>
    <hr />

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Path)
            </dt>

            <dd>
                <a href="@Url.Content(Model.Path)" target="_blank"><img src="@Url.Content(Model.Path)" alt="@Model.Path" style="width:200px" /></a>
                @*@Html.DisplayFor(model => model.Path)*@
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("تعديل", "Edit", new { id = Model.PresidentWordId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("الرجوع الى القائمة", "Index", null, new { @class = "btn btn-outline-info" })
    </p>
    <br />
</div>